@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Regular.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Bold.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Light.ttf);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Semibold.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-ExtraBold.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(fonts/Nunito-Regular.ttf);
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(fonts/Nunito-Bold.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url(fonts/Nunito-Light.ttf);
  font-weight: 100;
  font-style: normal;
}