@import 'colors.scss';

.container {
  width: calc(100% - 20px);
  height: calc(100% - 20px);

  display: flex;
  flex-direction: column;
  

  margin: 10px;
}

.tabs {
  width: 14em;
  height: 32px;

  border-bottom: 1px solid $grey;
  margin-bottom: 1px;
}

.bottomContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.tabContainer {
  position: relative;
  display: flex;
  flex-grow: 1;

  margin-right: 10px;
}