@import 'colors.scss';

.container {
  width: calc(100% - 40px);
  height: calc(100% - 40px);

  position: relative;

  background-color: $dark;
  padding: 20px;
}

.tabs {
  width: 13em;
  display: flex;

  border-bottom: 1px solid $grey;

  padding: 0 15px;
}

.tab {
  color: #FFFFFF;
  margin: 0;
  padding: 0 5px 10px;

  position: relative;
}

.active {

  &:after {
    width: 0;
    height: 0;

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid $grey;
  }
}

.info {

}

.statsContainer {
}

.bottomContainer {
  position: absolute;

  width: calc(100% - 40px);

  padding: 20px;

  bottom: 0;
  left: 0;
}

.topBar {
  display: flex;
  flex-direction: row;

  align-items: center;

  width: 100%;

  border-bottom: 1px solid $grey;
  margin-bottom: 15px;
}

.name {
  margin: 0;
  margin-right: 20px;
  padding-bottom: 10px;

  color: $gold;

  font-size: 2em;
}

.hpBar {
  width: 10em;
  height: 1.4em;

  position: relative;

  display: flex;
  justify-content: center;

  background-color: $middleblack;
  border-radius: 20px;
}

.hpBackground {
  height: 100%;
  background-color: $red;

  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 20px;
}

.hp {
  color: white;
  margin: 0;

  justify-self: center;

  z-index: 1;
}

.quote {
  color: #C0C4C8;
  font-size: 1.2em;
  max-width: 30em;

  margin: 0;
  padding: 0;
}

.bottomBar {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}