
.container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  color: white;
}

.generalStats {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
}

.generalLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 0.97;

  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 10px;
}

.statContainer {
  display: flex;
  justify-content: space-between;
  width: calc(24em + 60px);

}