@import 'colors.scss';

.container {
  width: 100%;
  height: calc(100% - 1px);

  display: flex;
  flex-direction: row;

  border-top: 1px solid black;
}

.characters {
  width: 20em;

  background-color: $middleblack;

  border-right: 1px solid black;
}

.character {
  height: 6em;
  position: relative;

  background-color: rgb(180, 180, 180);
}

.icon {
  height: 4em;

  position: absolute;
  right: 0;
}

.info {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: absolute;
  bottom: 0;

  background-color: rgba(85, 94, 105, 0.9);
}

.characterName {
  margin: 0;
  padding: 5px;
  padding-left: 10px;

  color: #FFFFFF;
}

.level {
  margin: 0;
  padding: 5px;
  padding-right: 10px;

  color: #FFFFFF;
}

.characterInfo {
  width: 100%;
  height: calc(100% - 40px);

  position: relative;

  background-color: $dark;
  padding: 20px;
}

.quickStats {
  position: absolute;

  top: 1em;
  right: 1em;
}

.name {
  width: 8em;

  margin: 0;
  padding-bottom: 5px;

  color: #FFD569;

  font-size: 2em;

  border-bottom: 1px solid $grey;
}

.quote {
  color: #C0C4C8;
  font-size: 1.2em;
  max-width: 30em;
}