
$bright: #FF5959;
$mid: #984A59;
$dark: #60424C;

$red: #FF4441;

$dark: #2C2F33;
$middleblack: #202225;
$almostblack: #23272A;

$grey: #72767D;

$gold: #FFD569;
$green: #43B581;
$dnd: #F04747;

$scrollbarbackground: rgba(32, 34, 37, .6);